<br>
<br>
<div class="row">

    <div class="col-6 col-md-4"></div>

    <div class="col-6 col-md-4">

        <!-- logo -->
        <div class="text-center">
            <a>
                <img src="assets/img/Logo.png" width="250" height="250">
            </a>
        </div>

        <form class="form-signin text-center">
            <img class="mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">CRM</h1>
            <label for="inputUsuario" class="sr-only">Usuario</label>
            <input type="Usuario" id="inputUsuario" class="form-control" placeholder="Usuario" required="" autofocus="">
            <label for="inputContrasena" class="sr-only">Contrasena</label>
            <input type="Contrasena" id="inputContrasena" class="form-control" placeholder="Contraseña" required="">
            <div class="checkbox mb-3">
                <label>
      <input type="checkbox" value="remember-me"> Recordar
    </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
            <p class="mt-5 mb-3 text-muted">© 2017-2019</p>
        </form>
    </div>

    <div class="col-6 col-md-4"></div>

</div>